/*Информация*/
.info{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/*Моя фотография*/
.info>img{
  order:2;
  width: 30%;
  border-radius: 50px;
  box-shadow: 1px 1px 10px #8b6f6f;
}

/*Текст с информацией*/
.info>div{
  order:1;
  font-family: Calibri, sans-serif;
  font-size: 20px;
}

/*Мини иконки для информации*/
.info>div img{
  padding-right: 10px;
  width: 5%;
}

/*Текст с конкретной информацией*/
.info p{
  padding: 5px;
}


